.expandable {
  cursor: pointer;
}

.content {
    margin-bottom: 5px;
    height: 40px;
    background-color: #f1f1f1;
    border: 1px solid gray;
    padding: 10px;
    line-height: 40px;
    text-indent: 15px;

    &.show {
      background-color: #cccccc;
    }

    .pic {
    display: inline-block;
    width: 40px;
    height: 40px;
}
    span {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    vertical-align: top;
}
}

.sub {
  display: none;
  margin: 5px 0px 5px 5px;
  list-style: none;
  }


/**
  Dynamic State - Expand
 */
[data-state="on"] {
  display: block;
}

.caret:before {
  content: "\f0da";

  .show & {
    content: "\f0d7";
  }
}
