<li>
<div class="content"
  [ngClass]="{
    'expandable': item.children?.length,
    'show': status === 'on'
    }"
  (click)="toggleNav(item)">
  <img class="pic" [alt]="item.thumbnail.description" [src]="item.thumbnail.href">
  <span>{{ item.name }} <i class="fa caret" *ngIf="item.children?.length"></i></span>
</div>
   <!-- Sub Nav Nodes -->
   <ul [attr.data-state]="status"
   *ngIf="item.children?.length"
   class="sub">
  <app-nav-item
    *ngFor="let child of item.children;"
    [item]="child"></app-nav-item>
   </ul>
</li>
